* {
    margin: 0px;
}

#mainContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: pink;
}

#appContainer {
    position: absolute;
    top: 10%;
    left: 30%;
    height: 75%;
    width: 40%;
    background-color: white;
}

#title {
    text-align: center;
}