* {
    margin: 0px;
}

#mainContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: pink;
}

#appContainer {
    position: absolute;
    top: 10%;
    left: 30%;
    height: 75%;
    width: 40%;
    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(3, 1fr);
}

#title {
    text-align: center;
}

#loadingScreen {
    display: none;
}

#collectInput {
    grid-column: 2/3;
    text-align: center;
}

#callLocation {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
}

#temp {
    grid-row: 3/3;
    grid-column: 1/2;
    text-align: center;
}

#tempFeel {
    grid-row: 3/4;
    grid-column: 3/3;
    text-align: center;
}

#description {
    grid-row: 4/4;
    grid-column: 2/3;
    text-align: center;
}

#weatherIcon {
    display: block;
    grid-row: 3/4;
}